In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#-- CREATING CUSTOM NAME FOR TABLE COLUMNS
column_names = ['Country','Description','Designation','Points','Price','Province','Region_1','Region_2','Variety','Winery']

In [3]:
#-- UPDATING COLUMN NAME WITH CUSTOM NAMES
wine_analysis_data = pd.read_csv("winemag-data-2.csv",sep=',',header=1,names=column_names,index_col=0)

In [4]:
wine_analysis_data.head()

,Country,Description,Designation,Points,Price,Province,Region_1,Region_2,Variety,Winery
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia

In [5]:
#-- NUMBER OF ROWS AND COLUMNS
wine_analysis_data.shape

(150929, 10)

In [6]:

wine_analysis_data.isnull().sum()

Country            5
Description        0
Designation    45735
Points             0
Price          13695
Province           5
Region_1       25060
Region_2       89977
Variety            0
Winery             0
dtype: int64

In [7]:
wine_analysis_data = wine_analysis_data.dropna(subset=['Country'])

In [8]:
wine_analysis_data.isnull().sum()

Country            0
Description        0
Designation    45735
Points             0
Price          13695
Province           0
Region_1       25055
Region_2       89972
Variety            0
Winery             0
dtype: int64

In [9]:
#-- DAK2: ONE LINE CODE TO CHECK THE PERCENTAGE OF ROWS LEFT AFTER DROPPING ALL NULL VALUES OF PRICE
print(((wine_analysis_data.shape[0] - wine_analysis_data['Price'].isnull().sum()) / wine_analysis_data.shape[0]) * 100)

90.92589647769739

In [10]:
#-- MORE READABLE CODE FOR PREVIOUS TASK - DAK2
null_price_val = wine_analysis_data['Price'].isnull().sum()
total_number_of_null = wine_analysis_data.shape[0]
percentage = (total_number_of_null - null_price_val) / total_number_of_null * 100
percentage

90.92589647769739

In [11]:
#-- CHECKING FOR NUMBER OF ALL UNIQUE VALUES IN COUNTRY COLUMN
wine_analysis_data['Country'].nunique()

48

In [12]:
#-- CHECKING FOR NUMBER OF ALL UNIQUE VALUES IN PRICE COLUMN
wine_analysis_data['Price'].nunique()

357

In [13]:
#-- GETTING THE NUMBER OF TIMES UNIQUE VALUES HAVE REPEATED IN COUNTRY COLUMN
wine_analysis_data['Country'].value_counts()

US                        62396
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Bosnia and Herzegovina        4
Switzerland                   4
South Korea                   4
Slovakia                      3
China                         3
Egypt                         3
Albania                       2
Montenegro                    2
Japan                         2
Tunisia                       2
US-France                     1
Name: Country, dtype: int64

In [14]:
max_price = wine_analysis_data['Price'].max()
wine_analysis_data.loc[wine_analysis_data['Price'] == max_price,['Country']]

      Country
34920  France

In [15]:
#-- //
wine_analysis_data['Price'].describe()

count    137229.000000
mean         33.130548
std          36.319116
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: Price, dtype: float64

In [16]:
min_price = wine_analysis_data['Price'].min()
wine_analysis_data.loc[wine_analysis_data['Price'] == min_price,['Winery']].count()

Winery    18
dtype: int64

In [17]:
wine_analysis_data[wine_analysis_data['Price'] == min_price].shape[0]

18