In [2]:
import pandas as pd

#--PANDAS IS USED FOR DATA MANIPULATION. BASICALLY ORDERING DATA INTO MEANING/READABLE FORM

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
names = ['Andrew','Kofi','Fred','Linda','Kwabena','Patrick']
dn = pd.DataFrame(names)

print(dn)

         0
0   Andrew
1     Kofi
2     Fred
3    Linda
4  Kwabena
5  Patrick

In [17]:
users = [ ['Kwabena',23],['Lord',20],['Bernice',39],['Michael',18],['Issac',34] ]
#du = pd.DataFrame(users)

#--YOU CAN CREATE NAME FOR COLUMNS USING THIS CODE
#du = pd.DataFrame(users,columns=['Name','Age'])

#--YOU CAN ALSO CHANGE INDEX OF THE DATAFRAME
du = pd.DataFrame(users,columns=['Name','Age'],index=['a','b','c','d','e'])

print(du)

      Name  Age
a  Kwabena   23
b     Lord   20
c  Bernice   39
d  Michael   18
e    Issac   34

In [27]:
#--USING DICTIONRIES IN DATAFRAMES
diction = {
    'Names':['Andrew','Kofi','Fred','Linda','Kwabena','Patrick'],
    'Mark':[65,76,2,4,5,7]
}

dd = pd.DataFrame(diction)

print(dd)

     Names  Mark
0   Andrew    65
1     Kofi    76
2     Fred     2
3    Linda     4
4  Kwabena     5
5  Patrick     7

In [31]:
#--PRINTING JUST THE NAMES COLUMN
print(dd['Names'])

0     Andrew
1       Kofi
2       Fred
3      Linda
4    Kwabena
5    Patrick
Name: Names, dtype: object

In [50]:
#--PRINTING JUST THE MARK COLUMN
print(dd['Mark'])

0    65
1    76
2     2
3     4
4     5
5     7
Name: Mark, dtype: int64

In [52]:
#--I JUST CREATED A NEW INSTANCE OF THE SAME DATAFRAME
dw = pd.DataFrame(diction)
print(dw)

     Names  Mark
0   Andrew    65
1     Kofi    76
2     Fred     2
3    Linda     4
4  Kwabena     5
5  Patrick     7

In [55]:
#--ADDING A NEW COLUMN TO THE DATAFRAME
dw['Grade'] = ['A','C','D','B','B','A']
print(dw)

     Names  Mark Grade
0   Andrew    65     A
1     Kofi    76     C
2     Fred     2     D
3    Linda     4     B
4  Kwabena     5     B
5  Patrick     7     A

In [56]:
print(dw)

     Names  Mark Grade
0   Andrew    65     A
1     Kofi    76     C
2     Fred     2     D
3    Linda     4     B
4  Kwabena     5     B
5  Patrick     7     A

In [58]:
dw.pop('Grade')

0    A
1    C
2    D
3    B
4    B
5    A
Name: Grade, dtype: object

In [59]:
print(dd)

     Names Grade Grade  Mark Grade Grade Grade
0   Andrew     B     B    65     B     B     B
1     Kofi     E     E    76     E     E     E
2     Fred     B     B     2     B     B     B
3    Linda     A     A     4     A     A     A
4  Kwabena     C     C     5     C     C     C
5  Patrick     D     D     7     D     D     D

In [60]:
dd.pop('Grade')

  Grade Grade Grade Grade Grade
0     B     B     B     B     B
1     E     E     E     E     E
2     B     B     B     B     B
3     A     A     A     A     A
4     C     C     C     C     C
5     D     D     D     D     D

In [61]:
print(dd)

     Names  Mark
0   Andrew    65
1     Kofi    76
2     Fred     2
3    Linda     4
4  Kwabena     5
5  Patrick     7

In [62]:
#--NOW I HAVE TWO(2) VARIABLES CONTAINING THE SAME DATAFRAME

In [66]:
#--SELECTING FROM A DATAFRAME

#-- 1. loc IS USED WITH CUSTOM INDEXES (a,b,c,e,..)
#print(dd.loc['a'])

#-- 2 iloc IS USED WITH THE DEFAULT INDEXES (1,2,3,..)
print(dd.iloc[4])

Names    Kwabena
Mark           5
Name: 4, dtype: object